{% extends 'base.html' %}
{% set page="problem" %}
{% block main %}
<h1>
	DCODE - FINALS
</h1>
<div class="problem-list">
	<h2>
		<span class="sl">1</span> Set a timer of 1:45 hours in your machine. You are allowed to use any software / website.
	</h2>

	<h2>
		<span class="sl">2</span> <a href="/dcode2">DCODE2</a>
	</h2>

	<h2>
		<span class="sl">3</span> <a href="/dcode3">DCODE3</a>
	</h2>

	<h2>
		<span class="sl">4</span> Write a function in C to print “Hello, DCODE!”. Now write a C++/Java/Python/Perl/*whatever to call that function.
	</h2>

	<h2>
		<span class="sl">5</span> Find out the following information about your computer's CPU : architecture, byte order, threads per core,
		cache sizes (L1, L2, L3). Also write, how you found these out.

	</h2>

	<h2>
		<span class="sl">6</span> Design an operation which can convert capital alphabets of English to small and vice versa. Note that you have
		to apply exactly same operation for both conversions. 
		(Hint: A-Z in English := 65-90 &amp; a-z in English :=97-122 in ASCII)

	</h2>

	<h2>
		<span class="sl">7</span> Write a fork bomb in Bash Shell/C/C++/Python/*whatever.

	</h2>

	<h2>
		<span class="sl">8</span> Create a file (of ASCII text) of size 10 GB or more.

	</h2>

	<h2>
		<span class="sl">9</span> A bunch of men are on an island. A genie comes down and gathers everyone together and places a magical hat
		on some people’s heads (i.e., at least one person has a hat). The hat is magical: it can be seen by other people,
		 but not by the wearer of the hat himself. To remove the hat, those (and only those who have a hat) must dunk
		themselves underwater at exactly midnight. If there are n people and c hats, how long does it take the men to
		remove the hats? The men cannot tell each other (in anyway) that they have a hat. Prove that your solution is
		correct.
	</h2>

	<h2>
		<span class="sl">10</span> Encuentre el número de páginas web de acceso público de ojass.in.
	</h2>

	<h2>
		<span class="sl">11</span> Does your terminal greet you whenever you open it? If not, make sure it does!
	</h2>

	<h2>
		<span class="sl">12</span> Hint: Unicorns! This server! And it's a string!
	</h2>

	<h2>
		<span class="sl">13</span> Generate the assembly code for the C program in 4.
	</h2>
</div>
{% endblock %}